---
const { variant, size } = Astro.props;
---

<button class={variant + " " + size}><slot /></button>

<style>
  button {
    padding: 1rem;
    border-radius: 8px;
  }

  .primary {
    background-color: royalblue;
    color: white;
  }

  .secondary {
    background-color: white;
    color: royalblue;
  }

  .small {
    font-size: 1rem;
  }

  .medium {
    font-size: 2rem;
  }

  .large {
    font-size: 3rem;
  }
</style>
